#loading-icon,
.loading-bg {
    right: 0;
    position: fixed;
    left: 0
}

.faq-search-nav .search-group *,
.rating img,
.rating-lb {
    zoom: 1;
    display: inline-block
}

body {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1s.5;
    -o-animation: fadein 1.5s;
    font-size: 14px!important;
    font-family: Roboto, sans-serif;
    margin: 0;
    background: -moz-linear-gradient(top, rgba(154, 200, 251, 1) 0, rgba(238, 251, 255, .24) 40%, rgba(238, 251, 255, .2) 100%);
    background: -webkit-linear-gradient(top, rgba(154, 200, 251, 1) 0, rgba(238, 251, 255, .24) 40%, rgba(238, 251, 255, .2) 100%);
    background: linear-gradient(to bottom, rgba(154, 200, 251, 1) 0, rgba(238, 251, 255, .24) 40%, rgba(238, 251, 255, .2) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9ac8fb', endColorstr='#33eefbff', GradientType=0)
}

img {
    max-width: 100%
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.row.no-gutters>[class*=" col-"],
.row.no-gutters>[class^=col-] {
    padding-right: 0;
    padding-left: 0
}

.error {
    color: #a00!important
}

:focus {
    outline: 0
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.tn-spacing-top {
    margin-top: 10px!important
}

.sm-spacing-top {
    margin-top: 15px!important
}

.md-spacing-top {
    margin-top: 20px!important
}

.lg-spacing-top {
    margin-top: 25px!important
}

.xl-spacing-top {
    margin-top: 30px!important
}

.xxl-spacing-top {
    margin-top: 35px!important
}

.ex-spacing-top {
    margin-top: 40px!important
}

.exl-spacing-top {
    margin-top: 45px!important
}

.tn-spacing-btm {
    margin-bottom: 10px!important
}

.sm-spacing-btm {
    margin-bottom: 15px!important
}

.md-spacing-btm {
    margin-bottom: 20px!important
}

.lg-spacing-btm {
    margin-bottom: 25px!important
}

.xl-spacing-btm {
    margin-bottom: 30px!important
}

.xxl-spacing-btm {
    margin-bottom: 35px!important
}

.ex-spacing-btm {
    margin-bottom: 40px!important
}

.exl-spacing-btm {
    margin-bottom: 45px!important
}

.tn-spacing-left {
    margin-left: 10px!important
}

.sm-spacing-left {
    margin-left: 15px!important
}

.md-spacing-left {
    margin-left: 20px!important
}

.lg-spacing-left {
    margin-left: 25px!important
}

.xl-spacing-left {
    margin-left: 30px!important
}

.xxl-spacing-left {
    margin-left: 35px!important
}

.ex-spacing-left {
    margin-left: 40px!important
}

.exl-spacing-left {
    margin-left: 45px!important
}

.tn-spacing-right {
    margin-right: 10px!important
}

.sm-spacing-right {
    margin-right: 15px!important
}

.md-spacing-right {
    margin-right: 20px!important
}

.lg-spacing-right {
    margin-right: 25px!important
}

.xl-spacing-right {
    margin-right: 30px!important
}

.xxl-spacing-right {
    margin-right: 35px!important
}

.ex-spacing-right {
    margin-right: 40px!important
}

.exl-spacing-right {
    margin-right: 45px!important
}

.loading-bg {
    background: #F3F3F3;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    top: 0;
    bottom: 0
}

#loading-icon {
    top: 48%;
    margin: 0 auto;
    z-index: 999999;
    width: 30px;
    height: 30px;
    border: 3px solid #e5e5e5;
    border-bottom-color: #2d8ff9;
    border-radius: 50%;
    animation: animLoader .8s linear infinite forwards
}

.content-appear {
    opacity: 0;
    -webkit-transform: translateY(28px);
    -ms-transform: translateY(28px);
    transform: translateY(28px);
    -webkit-transition: all 1.2s cubic-bezier(.25, .46, .45, .94) .6s;
    transition: all 1.2s cubic-bezier(.25, .46, .45, .94) .6s
}

.content-appear .active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 1.2s cubic-bezier(.25, .46, .45, .94) .6s;
    transition: all 1.2s cubic-bezier(.25, .46, .45, .94) .6s
}

.btn-default,
.logo-section {
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

#site-content {
    min-height: 1000px
}

#scrolltop {
    width: 50px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 200px;
    right: 20px;
    cursor: pointer;
    z-index: 5
}

.content-section {
    padding: 40px
}

.content-section-lg {
    padding: 60px 0
}

.section-header {
    text-align: center;
    padding-bottom: 50px
}

.section-header h3.section-title {
    font-size: 2.14em;
    font-weight: 700;
    color: #111;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    margin-top: 0
}

.section-header>span {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 1.07em;
    color: #989898;
    display: block
}

.btn-default,
.menu > li > a,
.modal-title {
    font-size: 1em;
    font-weight: 700
}

.form-control {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.btn-default {
    background: #005c23;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
    text-shadow: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 2px solid #005c24;
    transition: all .3s linear
}

.language-chooser,
.language-chooser li {
    display: inline-block
}

.btn-default:hover {
    background-color: #ff8e01;
    border: 2px solid #ffb200;
    color: #fff
}

.modal-content{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;    
}

.modal-header{
    background: #2d8ff9; 
}

.modal-title{
    font-size: 1em;
    color: #fff;
    font-weight: 700;
}

.modal-title i{
    margin-right: 10px;    
}

.modal-header .close{
    color: #fff;
    text-shadow: none;
    opacity: 1;
}

.modal-content-wrapper{
    padding: 40px 0;
}

.modal-wrapper{
    overflow: auto;
    position: relative;
    padding: 0 40px;
}

.modal .form-wrapper {
    padding: 50px 0;
    max-width: 80%;
    margin: 0 auto;
}
.modal .no-border-input {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    box-shadow: none !important;
}
.modal .form-btn.extra-padding, .modal .form-btn.extra-padding {
    padding: 15px 0;
}
body .modal .section-header h3.section-title {
    padding-bottom: 10px;
    margin-top: 30px;
    font-size: 1.29em;
    color: #2d8ff9;
}
body .modal .section-header h3.section-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    position: relative;
}
.modal .section-header h3.section-title:after {
    content: '';
    display: block;
    height: 3px;
    width: 60px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #2d8ff9;
}
.modal .btn-default {
    background: #2d8ff9;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 1em;
    font-weight: 700;
    text-shadow: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: none;
    border: none !important;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.modal .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.modal .form-btn {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 0.86em;
    font-weight: 600;
    color: #fff;
    background: #2d8ff9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none !important;
    position: relative;
    margin-bottom:  10px;
}
.modal .btn-default:hover {
    background-color: #2d8ff9;
    border: none;
    color: #fff;
}
#success-modal .modal-info{
    padding: 30px;
}
.language-chooser {
    margin: 0;
    padding: 0;
    list-style: none
}

.language-chooser a {
    text-decoration: none!important
}

.language-chooser li.active a {
    font-weight: 800
}

.qtranxs-available-languages-message {
    display: none
}

.logo-section {
    background: #2d8ff9;
    padding: 10px 5px;
    border-radius: 0 0 15px 15px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: -2px;
    width: 200px;
    text-align: center;
    z-index: 5;
    -ms-transition: all .3s linear;
    transition: all .3s linear
}

.logo-section:hover img,
header.scrolled {
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

.logo-section h2 {
    margin: 0
}

.logo-section img {
    max-width: 110px
}

.logo-section:hover img {
    opacity: .8;
    transition: all .3s linear
}
#pagination {
    text-align: center;
    padding: 0 60px 0 60px;
    border-top: 5px solid #ccc;
    margin-top: 80px;
    position: relative;
}
#pagination a, #pagination span{
    color: #808688;
    /* background: #c9c9c9; */
    font-size: 1.1em;
    font-family: "Times New Romans";
    padding: 15px 0;
    width: 60px;
    text-align: center;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin-top: -5px;
    margin-left: -3px;
}
#pagination .current, 
#pagination a:hover,
#pagination span:hover{
    /* background: #656565; */
    border-top: 5px solid #2d8ff9;
    color: #2d8ff9;
}
#pagination .next,
#pagination .prev{
    width: auto;
    /* display: none; */
    position: absolute;
    top: 5px;
    /* border-top: 5px solid #ccc; */
    font-size: 0.88em;
}
#pagination .next{
    right: 0;
}
#pagination .prev{
    left: 0;
}
#pagination .next:hover,
#pagination .prev:hover{
    border: none;
}
#menu-toggle {
    position: fixed;
    right: 20px;
    top: 27px;
    z-index: 999;
    display: block;
    text-align: center
}

#menu-toggle #button-menu span {
    position: relative;
    top: -1.5px
}

#menu-toggle #button-menu span,
#menu-toggle #button-menu span:after,
#menu-toggle #button-menu span:before {
    display: inline-block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear
}

#menu-toggle #button-menu span:after,
#menu-toggle #button-menu span:before {
    content: '';
    position: absolute;
    left: 0
}

#menu-toggle #button-menu span:before {
    margin-top: -9px
}

#menu-toggle #button-menu span:after {
    margin-top: 9px
}

#menu-toggle #button-menu.active span {
    background-color: rgba(255, 255, 255, 0)!important
}

#menu-toggle #button-menu.active span:before {
    margin-top: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

#menu-toggle #button-menu.active span:after {
    margin-top: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.vtext p {
    line-height: 1.1;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl
}

.shake:focus,
.shake:hover {
    -webkit-animation-name: spaceboots!important;
    -webkit-animation-duration: .3s!important;
    -webkit-transform-origin: 50% 50%!important;
    -webkit-animation-iteration-count: infinite!important;
    -webkit-animation-timing-function: linear!important
}

.content-wrapper {
    padding-bottom: 60px
}

#main-content {
    margin-top: 155px
}

header {
    border-top: 15px solid #2d8ff9;
    position: fixed;
    z-index: 3;
    background: #9ECAFB;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    -moz-transition: all 50ms linear;
    -ms-transition: all 50ms linear;
    -webkit-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear
}

header.scrolled {
    border-top: 5px solid #2d8ff9;
    -webkit-box-shadow: 0 4px 12px -2px rgba(0, 0, 0, .41);
    -moz-box-shadow: 0 4px 12px -2px rgba(0, 0, 0, .41);
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, .41);
    transition: all .3s linear
}

#main-nav,
.operation-nav {
    -webkit-box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1)
}

header.scrolled .logo-section,
header.scrolled .menu > li {
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

header.scrolled .menu > li {
    padding: 15px 0;
    transition: all .3s linear
}

#main-nav {
    border-top: 2px solid #fff;
    position: relative;
    border-bottom: 1px solid #b7d9fb;
    box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1)
}

header.scrolled .logo-section {
    padding: 8px 5px;
    transition: all .3s linear
}

.menu > li,
.menu > li >  a:hover,
.menu > li.current-menu-item >  a {
    -ms-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

.nav-section,
.o-nav-wrapper {
    padding-left: 220px;
    position: relative
}

.menu {
    margin: 0;
    padding: 0 0 0 18px
}
.menu > li > .sub-menu{
    position: absolute;
    display: none;
    left: 0;
    /* right: 0; */
    width: 350px;
    background: #fff;
    z-index: 23;
    top: 100%;
    background: #9ECAFB;
    border: 2px solid #b7d9fb;
    border-top: none;
    list-style: none;
    box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 4px 12px -2px rgba(0, 0, 0, .41);
    -moz-box-shadow: 0 4px 12px -2px rgba(0, 0, 0, .41);
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, .41);
    transition: all .3s linear;
    padding:  0;
    margin:  0;
}
.menu > li {
    display: inline-block;
    padding: 25px 0;
    margin-left: -3px;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    position: relative;
}
.menu > li:hover > .sub-menu{
    display: block;
}
.menu > li:first-child a {
    border-left: none
}

.menu > li > a {
    display: block;
    text-transform: uppercase;
    color: #3d5a98;
    border-left: 1px solid #3d5a98;
    padding: 3px 15px;
    position: relative;
    z-index: 2;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    text-decoration: none
}
.menu > li > ul > li{
    border-bottom:  1px solid #fff;
}
.menu > li > ul > li a{
    color: #3d5a98 !important;
    font-size: 0.79em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}.menu > li > ul > li:last-child{
    border-bottom:  none;
}
.menu > li > ul > li:hover a{
    padding-left:  30px;
    background: #2d8ff9;
    color: #fff !important;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.menu > li > a:before,
.search-box {
    position: absolute;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    top: 0
}

.menu > li > a:before {
    content: '';
    display: block;
    left: 0;
    width: 0;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(238, 251, 255, 0) 0, rgba(46, 143, 249, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(238, 251, 255, 0) 0, rgba(46, 143, 249, 1) 100%);
    background: linear-gradient(to right, rgba(238, 251, 255, 0) 0, rgba(46, 143, 249, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00eefbff', endColorstr='#2e8ff9', GradientType=1);
    z-index: -1;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.menu > li > a:hover,
.menu > li.current-menu-item > a {
    color: #fff;
    -moz-transition: all .2s linear;
    transition: all .3s linear
}

.operation-nav .buynow,
.operation-nav img:hover {
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

.menu > li > a:hover:before,
.menu > li.current-menu-item > a:before {
    width: 100%
}

.operation-nav {
    box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1)
}

.operation-nav a,
.user-nav-mobile a {
    display: inline-block!important;
    vertical-align: middle;
    zoom: 1;
    font-size: 1em;
    font-weight: 700;
    color: #fff
}

.operation-nav .user-nav {
    margin-top: 12px;
    padding-left: 15px
}

.operation-nav .user-nav a {
    margin: 0 7px
}

.operation-nav .contact-nav a {
    margin: 0 10px
}

.contact-nav-mobile,
.user-nav-mobile {
    display: none
}

.operation-nav .contact-nav a i {
    font-size: 30px
}

.operation-nav img:hover {
    opacity: .8;
    transition: all .3s linear
}

.operation-nav .buynow {
    transition: all .3s linear
}

.operation-nav .buynow:hover,
header .search-btn {
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

.operation-nav .buynow:hover {
    background: #3d5a98;
    transition: all .3s linear
}

header .search-btn {
    background: #fff;
    padding: 3px;
    width: 46px;
    display: inline-block;
    text-align: center;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    transition: all .3s linear;
    vertical-align: middle
}

header .search-btn i,
header .search-btn:hover {
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

header .search-btn i {
    font-size: inherit!important;
    color: #2d8ff9;
    transition: all .3s linear
}

header .search-btn:hover {
    background: #2d8ff9;
    transition: all .3s linear
}

header .search-btn:hover i {
    color: #fff;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

.search-box {
    right: 0;
    z-index: 3;
    width: 0;
    overflow: hidden;
    padding: 17.2px 0;
    opacity: 0;
    background: #9ECAFB;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1);
    box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1)
}

.search-box form {
    padding: 0 9.8px
}

.operation-nav .search-box.active {
    width: 40%;
    opacity: 1;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.search-box input {
    border: 1px solid #bebebe;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    padding: 5px 65px 5px 10px;
    font-size: .86em;
    height: 26px
}

.input-wrapper {
    position: relative
}

.search-box button {
    position: absolute;
    right: 0;
    top: 0;
    background: #2d8ff9;
    padding: 3px;
    width: 46px;
    height: 100%;
    text-align: center;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    box-shadow: none;
    border: none;
    color: #fff
}

#pslider .product-item .info,
#pslider .product-item:hover .info {
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

#story-detail {
    padding-bottom: 100px
}

#story {
    text-align: center;
}

#story img {
    width: 100%
}

.slick-slide img {
    max-width: 100%;
    width: 100%
}
#main-slider.slick-dotted.slick-slider{
    margin-bottom: 0;
}
#main-slider .slick-dots:after,
#main-slider .slick-dots:before {
    content: '';
    width: 34%;
    height: 1px;
    background: #2d8ff9;
    position: absolute;
    top: 50%;
    margin: 0 auto;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1
}

#main-slider .slick-dots:before {
    left: 0
}

#main-slider .slick-dots:after {
    right: 0
}

#main-slider .slick-dots {
    max-width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -55px;
    text-align: center
}

#main-slider .slick-dots li {
    z-index: 2;
    margin: 0;
    width: auto;
    height: auto;
    padding: 0 10px;
    text-align: center;
    cursor: inherit
}

#main-slider .slick-dots li:first-child {
    padding-left: 30px
}

#main-slider .slick-dots li:last-child {
    padding-right: 30px
}

#main-slider .slick-dots li a {
    display: inline-block;
    padding: 5px 12.1px;
    font-size: 1.16em;
    font-weight: 700;
    color: #2d8ff9;
    border: 2px solid #2d8ff9;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    text-decoration: none;
    cursor: pointer
}

#main-slider .slick-dots li.slick-active a {
    background: #2d8ff9;
    color: #fff
}

.homepage #product-slider {
    margin-top: -17.8%;
}
#product-slider {
    overflow: hidden;
}

#pslider {
    padding: 25px;
    background: #bee1fd;
    position: relative;
    z-index: 2
}

#pslider .slick-next,
#pslider .slick-prev {
    width: 50px;
    padding: 40px 0;
    display: block;
    opacity: 1;
    z-index: 4;
    text-align: center;
    background-color: #bee1fd;
    top: 30%;
}

#pslider .slick-next:before,
#pslider .slick-prev:before {
    display: none
}

#pslider:after,
#pslider:before,
.pslider-wrapper:after {
    content: '';
    display: none;
}

#pslider .slick-prev {
    left: -50px;
    background-image: url(../images/prev_arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#pslider .slick-next {
    right: -50px;
    background-image: url(../images/next_arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#pslider:before {
    left: 70px
}

#pslider:after {
    right: 70px
}

#pslider:after,
#pslider:before {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: #8cd2eb
}

#pslider .product-item {
    padding: 0 10px
}

.pslider-wrapper {
    width: 70%;
    margin: 0 auto;
}

.bottom-banner,
.pslider-wrapper {
    max-width: 70%;
    position: relative
}

.bottom-banner {
    margin: 2% auto 0 auto;
    padding-bottom: 100px
}

.pslider-wrapper:after {
    position: absolute;
    bottom: -32px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 48px;
    background: url(../images/slider_shadow.png) center no-repeat;
    background-size: contain!important;
    z-index: 1
}

#pslider .product-item .item-bg {
    -webkit-background-size: cover!important;
    background-size: cover!important;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden
}

#pslider .product-item a.item-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

#pslider .product-item .info {
    padding: 10px 5px;
}

#pslider .product-item .info h4,
#pslider .product-item .info p {
    color: #3d5a98;
}

#pslider .product-item .info h4 {
    margin-top: 0;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.23;
    margin-bottom: 5px
}

#pslider .product-item .info p {
    margin-bottom: 0;
    font-size: 0.86em;
}

#pslider .product-item:hover .info {
    opacity: 1;
    transition: all .3s linear
}

#faq-content .view-all:hover,
#products .buy-btn-custom {
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

.story-bg {
    padding-bottom: 30%;
    -webkit-background-size: 100%!important;
    background-size: 100%!important;
    background-attachment: fixed!important
}

.story-content {
    padding: 40px;
    border-bottom: 1px dotted #afd5fc
}

.story-content h1 {
    font-size: 2em;
    color: #2d8ff9;
    margin: 0 0 30px;
    font-weight: 700;
    text-transform: uppercase
}
.story-content h2{
	font-size: 1.86em;
}
.story-content h3{
	font-size: 1.71em;
}
.story-content h4{
	font-size: 1.57em;
}
.story-content h5{
	font-size: 1.43em;
}
.story-content p {
    font-size: 1.43em;
    line-height: 1.46;
    margin-bottom: 25px;
    color: #3d5a98
}

.story-info {
    margin-top: 60px
}

.story-info .col-wrapper {
    background: #fff
}

.story-info .story-info-col .content {
    padding: 25px
}

.story-info .story-info-col img {
    width: 100%
}

.story-info .story-info-col h3 a {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d8ff9;
    line-height: 1.38;
    margin: 0 0 25px;
    padding-bottom: 25px;
    border-bottom: 1px dotted #afd5fc;
    text-align: center;
    text-decoration: none;
    display: block;
}

.story-info .story-info-col p {
    text-align: left;
    font-size: 1.29em;
    line-height: 1.39;
    color: #3d5a98;
    margin-bottom: 5px
}

.story-info .story-info-col a {
    text-align: left;
    font-size: 1.29em;
    color: #98c7fb
}

.faq-bg {
    padding-bottom: 17%;
    -webkit-background-size: cover!important;
    background-size: cover!important;
    margin-top: 5px
}

.faq-search-nav {
    position: relative
}

.faq-search-nav:after,
.faq-search-nav:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.faq-search-nav:before {
    left: 0;
    background: url(../images/left_bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}

.faq-search-nav:after {
    right: 0;
    background: url(../images/right_bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}

.faq-search-nav .search-group {
    padding: 25px 15px
}

.faq-search-nav .search-group * {
    vertical-align: middle
}

.faq-search-nav .search-group form {
    width: 100%
}

.faq-search-nav .search-group label {
    font-size: 1.43em;
    color: #fff;
    font-weight: 400;
    width: 38%
}
.faq-search-nav .search-group label.login-label{
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    vertical-align:  inherit;
}
.faq-search-nav .search-group label.login-label a{
    color: #fff !important;
    text-decoration: underline;
    line-height: 22px;
    display:  inherit;
    vertical-align:  inherit;
}
.faq-search-nav .search-group input[type=text],
.faq-search-nav .search-group textarea {
    padding: 18px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: .86em;
    line-height: 1;
    border: none;
    width: 55%
}

.faq-search-nav .keyword-search label {
    width: 30%
}

.faq-search-nav .keyword-search textarea {
    margin-right: 3%;
    line-height: 1.5;
    max-height: 52px;
    padding: 15px 18px;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.faq-search-nav.question-active .related-search{
    opacity: 0;
    display: none;
}
.faq-search-nav.question-active:after,
.faq-search-nav.question-active .keyword-search{
    width: 100%;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.close-form{
    font-size:  25px;
    display: none !important;
    color: #fff !important;
    padding-left:  15px;
    position: absolute;
    right: 20px;
    top:  50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.faq-search-nav.question-active .close-form{
    display: inline-block !important;  
}
#faq-content {
    margin-top: 30px;
    border-top: 1px dotted #afd5fc;
    padding: 30px 0;
    position: relative
}
#search-detail #faq-content{
    border:  none;
}
#faq-content .faq-item {
    padding: 20px 25px;
    background: #fff;
    border: 1px solid #dcdcdc;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px
}

#faq-content .faq-item .avatar {
    width: 46px;
    height: 46px;
    border: 1px solid #afd5fc;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -moz-background-size: cover!important;
    -ms-background-size: cover!important;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important
}

#faq-content .faq-item h3 {
    font-size: 1.29em;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d8ff9;
    margin: 0 0 5px
}

#faq-content .faq-item .q {
    padding: 10px 0 20px;
    border-bottom: 1px dashed #afd5fc
}

#faq-content .faq-item .q p {
    margin-bottom: 0
}

#faq-content .faq-item p {
    font-size: 1.14em;
    color: #3d5a98;
    line-height: 1.25
}

#faq-content .faq-item .name {
    font-size: 1.14em;
    font-weight: 700;
    color: #3d5a98;
    margin-top: 0
}

#faq-content .faq-item .a,
#faq-content .faq-item .answer {
    padding-top: 5px
}

#faq-content .faq-item h5 {
    font-size: 0.86em;
    font-weight: 700;
    color: #2d8ff9
}

#faq-content .faq-item .left-col {
    width: 8%;
    padding: 0 15px;
    float: left
}

#faq-content .faq-item .right-col {
    width: 92%;
    padding: 0 15px;
    float: left
}

#faq-content .view-all {
    color: #fff;
    background: #2d8ff9;
    font-size: 1.29em;
    padding: 10px 20px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: absolute;
    top: -24px;
    left: 0;
    text-decoration: none
}

#faq-content .view-all:hover {
    opacity: .8;
    transition: all .3s linear
}

#page-detail {
    padding: 20px 0 40px
}

.page-info {
    padding-top: 20px
}

.page-info p {
    font-size: 1.16em;
    color: #3d5a98;
    margin-bottom: 20px;
    line-height: 1.22
}

#products {
    margin-bottom: 60px
}

.product-list {
    padding-top: 40px
}

#products .product-item {
    position: relative;
    padding: 30px 0;
    /* border-bottom: 1px dashed #898989; */
    background: #bee1fd;
    margin-bottom: 10px;
    padding: 35px;
}

#products .product-item:last-child {
    border-bottom: none
}

#products .buy-btn {
    position: absolute;
    right: 35px;
    top: 50%
}

#products .buy-btn img {
    max-width: 140px
}

#products .buy-btn-custom {
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    width: 140px;
    max-width: 140px;
    font-size: 1em;
    line-height: 1;
    padding: 12px 40px 12px 12px;
    text-align: center;
    border: 2px solid #fff;
    text-decoration: none!important;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: #b3cffc;
    background: -moz-linear-gradient(top, #b3cffc 0, #b3cffc 48%, #679af9 100%);
    background: -webkit-linear-gradient(top, #b3cffc 0, #b3cffc 48%, #679af9 100%);
    background: linear-gradient(to bottom, #b3cffc 0, #b3cffc 48%, #679af9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b3cffc', endColorstr='#679af9', GradientType=0);
    transition: all .3s linear;
}

#products .buy-btn-custom:hover {
    opacity: .8;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

#products .buy-btn-custom i {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 12px;
    -moz-transform: translate(-50%);
    -ms-transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
}

#products .product-item h3 {
    margin: 0 0 5px 0;
    font-size: 1.43em;
    font-weight: 700;
    line-height: 1.2;
}

#products .product-item h4 {
    margin: 0 0 10px 0;
    font-size: 1.16em;
    font-weight: 700;
    color: #3d5a98;
}

#products .product-item h3 a {
    color: #3d5a98;
    text-decoration: none;
}

#products .product-item p {
    font-size: 1em;
    /* font-weight: 700; */
    color: #3d5a98;
    margin-bottom: 0;
}
#products .product-item .plink{
    text-decoration: underline;
}
#products .product-item .plink,
.rating .rating-count,
.rating-lb {
    font-size: .86em;
    color: #3d5a98;
}
#products .product-info {
    max-width: 68%;
    position: inherit;
}
#products .more-detail{
    margin-top: 10px;
}
.rating-lb {
    margin-right: 10px;
    vertical-align: middle
}

#products .rating {
    position: absolute;
    top: 35px;
    right: 35px;
    margin : 0;
}

.rating {
    margin: 20px 0 15px;
}

.rating img {
    vertical-align: middle;
    max-width: 100px;
}

.rating .rating-count {
    margin-top: 5px;
}

#product-detail .product-info {
    background: url(../images/detail_bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 50px 0;
}

#product-detail h1 {
    margin: 0;
    font-size: 1.43em;
    font-weight: 700;
    line-height: 1.2;
    color: #2d8ff9;
}

#product-detail h5 {
    font-size: 1.16em;
    font-weight: 700;
    color: #2d8ff9;
}

#product-detail p {
    font-size: 1em;
    color: #3d5a98;
    margin-bottom: 5px;
}
#product-detail .buy-btn{
    margin-top: 25px;
    display: inline-block;
}
.product-info-detail .wrapper {
    background: #fff;
    padding: 30px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px
}

#product-detail .product-image,
#product-detail .product-info-detail {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    float: none
}

.featured-header {
    background: #d2eafe;
    padding: 40px 0
}

.featured-header h3 {
    display: none
}

.product-featured {
    background: #fff
}

#product-slider.related-product {
    margin-top: 0
}

.related-product .bottom-banner,
.related-product .pslider-wrapper {
    max-width: 100%;
    width: 100%;
}

.related-product h3,
.search-section > h3 {
    color: #2d8ff9;
    font-size: 2em;
    font-weight: 700;
    padding: 30px 0 15px;
    border-bottom: 1px solid #2d8ff9;
    line-height: 1;
    margin-bottom: 30px
}

.news-bg {
    padding-bottom: 35%;
    margin-top: 5px;
    background-size: 100%!important
}

.news-list {
    padding: 30px 0
}

.news-item {
    margin-bottom: 30px
}

.news-item .featured-bg {
    padding-bottom: 154%;
    -moz-background-size: cover!important;
    -ms-background-size: cover!important;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    position: relative
}

.news-item .item-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

footer {
    background: #326894
}

.footer-container {
    max-width: 90%;
    margin: 0 auto
}

footer .footer-nav {
    padding: 20px 0;
    border-bottom: 1px dashed #d5d5d5
}
footer .footer-nav .sub-menu{
    display: none !important;
}
footer .footer-nav ul {
    padding: 0;
    margin: 0;
    text-align: right
}

footer .footer-nav ul li {
    display: inline-block;
    margin-left: -3px;
    border-right: 1px solid #fff;
    padding: 8px 3%
}

footer .footer-nav ul li a {
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase
}

footer .footer-nav ul li:last-child {
    border: none
}

#footer-search .input-group {
    position: relative;
    width: 100%
}

#footer-search input {
    padding: 16px 60px 16px 25px;
    width: 100%;
    font-size: 1em
}

#footer-search button {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 28px;
    background: #2d8ff9!important;
    color: #fff;
    text-align: center;
    width: 35px;
    z-index: 2;
    border: none!important;
    box-shadow: none!important
}

footer .footer-info {
    padding: 15px 0 40px
}

footer .footer-info p {
    color: #fff
}

footer .footer-info .contact-link a {
    color: #fff!important;
    border: 3px solid #fff;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    width: 35px;
    display: inline-block;
    text-align: center;
    padding: 7.5px 0;
    line-height: 1;
    margin-left: 15px
}

footer .footer-info .contact-link a i {
    font-size: 12px
}

@media screen and (max-width:1366px) {
    .menu > li > a,
    footer .footer-nav ul li a {
        font-size: .86em
    }
    footer .footer-nav ul li {
        padding: 8px 2%
    }
    #main-slider .slick-dots{
        bottom:- 50px;
    }
}

@media screen and (max-width:1024px) {

    .story-content p,
    .story-info .story-info-col p {
        font-size: 1.14em
    }
    .story-info .story-info-col h3 a {
        font-size: 23px;
    }
    .faq-search-nav .keyword-search label,
    .faq-search-nav .search-group label {
        width: 100%;
        display: block
    }
    .faq-search-nav .search-group input[type=text] {
        width: 85%
    }
    .faq-search-nav .keyword-search textarea{
        width: 100%;    
    }
    #faq-content .faq-item .left-col,
    #faq-content .faq-item .right-col {
        width: 100%;
        padding: 0 15px;
        float: none;
        margin-bottom: 10px
    }
    .bottom-banner,
    .pslider-wrapper {
        max-width: 90%
    }
    .pslider-wrapper{
        width: 83%;
    }
    
    #pslider{
        padding: 15px;
    }
    .bottom-banner{
        margin-top: 30px;
    }
    #products .product-info {
        max-width: 60%;
        position: inherit;
    }
  
}

@media screen and (max-width:768px) {
    .nav-section,
    header {
        border-bottom: 1px solid #b7d9fb
    }
    header {
        border-top: 10px solid #2d8ff9;
        min-height: 76px;
        -webkit-box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1);
        box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1)
    }
    .logo-section {
        top: -2px;
        left: 15px;
        right: 0;
        width: 170px;
        padding: 15px 5px
    }
    .menu > li > a.touched:before,
    .menu > li > a:hover:before {
        width: 0
    }
    .menu > li > .sub-menu{
        position: relative;
        box-shadow: none;
        border:  none;
        padding:  10px 0 20px 0;
    }
    .menu > li > .sub-menu li{
        border: none;
    }
    .menu > li > .sub-menu li a{
        padding: 7px 15px;
    }
    .menu > li > .sub-menu li:hover a{
        padding-left: 15px;
        background: none;
        color: #3d5a98 !important;
    }
    .menu > li.menu-item-has-children .submenu-toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 30px;
        text-align: center;
        z-index: 4;
    }
    .menu > li.menu-item-has-children .submenu-toggle:after {
        display: block;
        content: "\f107";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        font-weight: bold;
        font-size: 18px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        color: #fff;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .menu > li.menu-item-has-children .submenu-toggle.active:after {
        content: "\f106";
    }
    .logo-section img {
        max-width: 90px
    }
    .nav-section {
        display: none;
        position: absolute;
        top: 64px;
        background: #9ECAFB;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 20px 0;
        -webkit-box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1);
        box-shadow: inset 3px -2px 44px -15px rgba(255, 255, 255, 1);
    }
    .nav-section.nav-active{
        display: block;
        -webkit-animation-name: nav_active;
        animation-name: nav_active;
        -webkit-animation-duration: 0.25s;
        animation-duration: 0.25s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
    header .menu {
        padding: 20px 25px 0
    }
    .menu > li {
        display: block;
        padding: 0;
        margin-left: 0;
        border-bottom: 2px solid #fff
    }
    #main-nav,
    .menu > li:last-child {
        border-bottom: none
    }
    .menu > li > a {
        border-left: none;
        padding: 10px 0;
        display: block
    }
    .menu > li > a:hover {
        color: #3d5a98
    }
    .menu > li > a.touched {
        color: #fff
    }
    .o-nav-wrapper {
        padding-left: 0
    }
    .contact-nav-mobile {
        position: absolute;
        right: 60px;
        top: 18px;
        display: block
    }
    .user-nav-mobile {
        display: block;
        text-align: center;
        padding: 15px 0 0
    }
    .user-nav-mobile a {
        margin: 0 15px
    }
    .user-nav-mobile img {
        max-width: 100px
    }
    .contact-nav-mobile a {
        margin: 0 5px;
        vertical-align: middle;
        display: inline-block;
        zoom: 1
    }
    .operation-nav .contact-nav,
    .operation-nav .user-nav,
    header .search-btn {
        display: none
    }
    .contact-nav-mobile a i {
        font-size: 24px;
        color: #fff
    }
    header .search-btn i {
        color: #2d8ff9!important;
        font-size: inherit!important
    }
    header .search-btn:hover i {
        color: #fff!important
    }
    .search-box-mobile {
        display: block!important;
        background: 0 0;
        position: relative;
        width: 100%;
        opacity: 1;
        box-shadow: none!important;
        padding: 20px 15px 0
    }
    .faq-search-nav:after,
    .faq-search-nav:before {
        display: none
    }
    .news-bg,
    .story-bg {
        background-attachment: inherit!important
    }
    #main-content {
        margin-top: 76px
    }
    #main-slider .slick-dots:after,
    #main-slider .slick-dots:before {
        max-width: 30%
    }
   
    .story-bg {
        padding-bottom: 45%;
        background-size: cover!important;
        -webkit-background-size: cover!important
    }
    .story-content {
        padding: 40px 15px
    }
    .story-content h1 {
        font-size: 1.71em
    }
    .story-content h2{
    	font-size: 1.57em;
    }
    .story-content h3{
    	font-size: 1.43em;
    }
    .story-content h4{
    	font-size: 1.29em;
    }
    .story-content h5{
    	font-size: 1.14em;
    }
    .story-info .story-info-col{
        margin-bottom: 20px;
    }
    .story-info .story-info-col h3 a {
        font-size: 18px;
    }
    .page-info p,
    .story-content p,
    .story-info .story-info-col a,
    .story-info .story-info-col p {
        font-size: 1em
    }
    .news-bg {
        -webkit-background-size: cover!important;
        background-size: cover!important;
        padding-bottom: 60%
    }
    .faq-search-nav {
        margin-bottom: 20px
    }
    .faq-search-nav .search-group.keyword-search {
        position: relative
    }
    .faq-search-nav .search-group.keyword-search:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../images/right_bg.jpg) center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        z-index: -1
    }
    .faq-search-nav .search-group.keyword-search input[type=image] {
        display: none
    }
    .faq-search-nav .search-group input[type=text] {
        width: 100%
    }
    .faq-bg {
        padding-bottom: 45%
    }
    #faq-content .view-all {
        text-align: center;
        width: 100%
    }
    #faq-content .faq-item .q p,
    #faq-content .faq-item p {
        font-size: 1em;
        line-height: 1.6
    }
    #product-detail .product-image, #product-detail .product-info-detail{
        width: 100%;
        margin: 20px 0;
    }
    .footer-menu {
        margin-top: 20px!important
    }
    footer .footer-nav ul {
        text-align: left
    }
}
@media screen and (max-width:667px) {
    #story{
        margin-top: 70px;
    }
    #products .product-info{
        max-width: 100%;
    }
    #products .buy-btn {
        position: relative;
        width: 100%;
        margin-top: 20px;
        left: 0;
        top: inherit;
        display: inline-block
    }
    #products .rating{
        position: relative;
        width: 100%;
        margin: 20px 0;
        left: 0;
        top: inherit;
        display: inline-block;
    }
}
@media screen and (max-width:414px) {
    header {
        min-height: 60px
    }
    .logo-section img {
        max-width: 70px
    }
    .logo-section {
        width: 120px;
        padding: 10px 5px
    }
    .contact-nav-mobile {
        top: 10px
    }
    #menu-toggle {
        top: 24px
    }
    #main-content {
        margin-top: 60px
    }
    .nav-section {
        top: 48px
    }
    #main-slider .slick-dots li a {
        padding: 5px 9.31px;
        font-size: .79em
    }
    #main-slider .slick-dots {
        max-width: 90%
    }
    .pslider-wrapper{
        width: 80%;
    }
    .related-product .pslider-wrapper{
        width: 87%;
    }
    #pslider{
        padding: 10px;
    }
    #pslider .product-item{
        padding: 0 5px;
    }
    #pslider .product-item .info h4{
        font-size: 0.86em;
    }
    #pslider .product-item .info p{
        font-size: 0.79em;
    }
    #pslider .slick-next, #pslider .slick-prev{
        width: 35px;
    }
    #pslider .slick-next{
        right: -35px;
    }
    #pslider .slick-prev{
        left: -35px;
    }
    
    #products .product-item .product-image {
        text-align: center;
        margin-bottom: 20px
    }
    .product-info-detail .wrapper {
        padding: 15px
    }
    .featured-header {
        padding: 0 15px;
        margin-bottom: 30px;
        background: 0 0
    }
    .featured-header img {
        display: none
    }
    .product-featured {
        padding-bottom: 30px
    }
    .featured-header h3 {
        display: block;
        color: #2d8ff9;
        font-size: 1.43em;
        font-weight: 700;
        padding: 30px 0 15px;
        border-bottom: 1px solid #2d8ff9;
        line-height: 1
    }
    .related-product h3 {
        font-size: 1.43em
    }
    footer .footer-nav ul li {
        display: block;
        border: none
    }
    .footer-info .contact-link {
        float: none;
        width: 100%;
        text-align: center;
        padding: 10px 0
    }
}

@media screen and (max-width:320px) {
    .logo-section {
        width: 105px;
        padding: 10px 5px
    }
     #pslider .slick-next{
        right: -30px;
    }
    #pslider .slick-prev{
        left: -30px;
    }
}

.cb-scroller p {
    color: #fff;
    font-family: Roboto, sans-serif;
    margin-bottom: 0
}

.cb-scroller {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 45px;
    width: 66px;
    margin: 0 0 -2px -33px;
    cursor: pointer;
    text-align: center;
    transition: opacity .2s;
    z-index: 2
}

.cb-scroller svg {
    height: 41px;
    transition: opacity .4s ease-in-out .9s
}

.cb-scroller svg path {
    fill: rgba(255, 255, 255, 0);
    stroke: #fff;
    stroke-dasharray: 51, 0;
    stroke-dashoffset: 109;
    transition: stroke-dasharray 1.3s cubic-bezier(.74, .05, .12, .99) .9s
}

.cb-scroller svg circle {
    fill: #fff;
    -webkit-animation: cb-scroller-mouse-circle ease-in-out 1.9s infinite;
    animation: cb-scroller-mouse-circle ease-in-out 1.9s infinite
}

.cb-scroller:hover {
    opacity: .7
}

.cb-scroller._hidden {
    cursor: default
}

.cb-scroller._hidden svg {
    opacity: 0;
    transition-delay: .3s
}

.cb-scroller._hidden path {
    transition-delay: 0s;
    transition-duration: .8s;
    stroke-dasharray: 0, 109;
    stroke-dashoffset: 109
}

.cb-scroller._hidden p {
    opacity: 0
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes animLoader {
    to {
        transform: rotate(360deg)
    }
}

@keyframes float {
    0%,
    100% {
        transform: translatey(0)
    }
    50% {
        transform: translatey(-40px)
    }
}

@-webkit-keyframes spaceboots {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0)
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        -webkit-transform: translate(-3px, 0) rotate(1deg)
    }
    30% {
        -webkit-transform: translate(0, 2px) rotate(0)
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0)
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg)
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0)
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg)
    }
}

@keyframes cb-scroller-mouse-circle {
    0% {
        transform: translateY(0);
        opacity: 0
    }
    40% {
        transform: translateY(0);
        opacity: 1
    }
    70% {
        opacity: 1
    }
    100% {
        transform: translateY(12px);
        opacity: 0
    }
}

@-webkit-keyframes nav_active {
    0% {
        -webkit-clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        opacity: 0
    }
    0.1% {
        opacity: 1
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1
    }
}

@keyframes nav_active {
    0% {
        -webkit-clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        opacity: 0
    }
    0.1% {
        opacity: 1
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1
    }
}

@-webkit-keyframes nav_passive {
    0% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1
    }
    to {
        -webkit-clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        opacity: 0
    }
}

@keyframes nav_passive {
    0% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1
    }
    to {
        -webkit-clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        opacity: 0
    }
}

@-webkit-keyframes nav_matrix {
    0% {
        -webkit-transform: matrix3d(1.305, 0, .5, .01, 0, .609, .5, .01, -.5, -.5, .7569, 0, 24, 24, 0, 1);
        transform: matrix3d(1.305, 0, .5, .01, 0, .609, .5, .01, -.5, -.5, .7569, 0, 24, 24, 0, 1);
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        opacity: 0
    }
    to {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        opacity: 1
    }
}

@keyframes nav_matrix {
    0% {
        -webkit-transform: matrix3d(1.305, 0, .5, .01, 0, .609, .5, .01, -.5, -.5, .7569, 0, 24, 24, 0, 1);
        transform: matrix3d(1.305, 0, .5, .01, 0, .609, .5, .01, -.5, -.5, .7569, 0, 24, 24, 0, 1);
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        opacity: 0
    }
    to {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        opacity: 1
    }
}

@-webkit-keyframes move_up {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: .7
    }
}

@keyframes move_up {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: .7
    }
}

@-webkit-keyframes move_up-thin {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: .3
    }
}

@keyframes move_up-thin {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: .3
    }
}

@-webkit-keyframes nav_active {
    0% {
        -webkit-clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        opacity: 0
    }
    0.1% {
        opacity: 1
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1
    }
}